{% extends 'main/Shared/base.html' %}
{% load static %}
{% block title %}
    بازیابی رمز عبور
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <main class="page-main">
        <div class="block">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'seiko:home' %}"><i class="icon icon-home"></i></a></li>
                    <li>/<span> بازیابی رمز عبور</span></li>
                </ul>
            </div>
        </div>
        <div class="block">
            <div class="container">
                <div class="form-card">
                    <h3> بازیابی رمز عبور</h3>
                    <form style="direction: rtl" class="account-create" method="post">
                        {% csrf_token %}
                        <label>ادرس ایمیل<span class="required"></span></label>
                        <input type="email" class="form-control input-lg {{ form.email }}">
                        <br>
                        {% if form.email.errors %}
                            <span class="errors">
                                {% for error in form.email.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                                </span>
                        {% endif %}
                        <br>
                        <div>
                            <button type="submit" class="btn btn-lg">ایجاد گذرواژه جدید</button>
                            <div class="back"><a href="{% url 'seiko:home' %}">بازگشت به فروشگاه<i
                                    class="icon icon-undo"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- /Page Content -->
{% endblock %}



