{% extends 'main/Shared/base.html' %}
{% load static %}
{% block title %}
403
{% endblock %}
{% block content %}
    <!-- Page -->
    <div class="page-wrapper">
        <!-- Page Content -->
        <main class="page-main">
            <div class="block fullwidth fullheight page_404">
                <div class="container">
                    <div class="image-403">
                        <img src="{% static 'main/images/403.jpg' %}" alt="دسترسی ندارید">
                        <div class="text-404">دسترسی ندارید</div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Page Content -->
{% endblock %}