{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'account:profile' %}" class="brand-link">
        <img src="{% static 'adminlte/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">پنل مدیریت</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="direction: ltr">
        <div style="direction: rtl">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="" class="" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">{% if request.user.get_full_name %}
                        {{ request.user.get_full_name }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %} </a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fa fa-dashboard"></i>
                            <p>
                                داشبوردها
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'account:profile' %}" class="nav-link active">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>اطلاعات شخصی</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'favorite:list' %}" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>محصولات مورد علاقه</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'favorite-blog:list' %}" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>مقالات مورد علاقه</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    </div>
    <!-- /.sidebar -->
</aside>