{% load static %}
<!-- jQuery Scripts  -->
<script src="{% static 'main/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'main/js/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/vendor/swiper/swiper.min.js' %}"></script>
<script src="{% static 'main/js/vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'main/js/vendor/parallax/parallax.js' %}"></script>
<script src="{% static 'main/js/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'main/js/vendor/magnificpopup/dist/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'main/js/vendor/countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main/js/vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'main/js/vendor/ez-plus/jquery.ez-plus.js' %}"></script>
<script src="{% static 'main/js/vendor/tocca/tocca.min.js' %}"></script>
<script src="{% static 'main/js/vendor/bootstrap-tabcollapse/bootstrap-tabcollapse.js' %}"></script>
<script src="{% static 'main/js/vendor/scrollLock/jquery-scrollLock.min.js' %}"></script>
<script src="{% static 'main/js/vendor/darktooltip/dist/jquery.darktooltip.js' %}"></script>
<script src="{% static 'main/js/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'main/js/vendor/instafeed/instafeed.min.js' %}"></script>
<script src="{% static 'main/js/megamenu.min.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>
