{% extends 'account_panel/shared/base.html' %} {% load humanize %} {% block title %} مقالات مورد علاقه {% endblock %} {% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">مقالات</h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        {% if favorite_list %}
                        <th>عنوان</th>
                        <th>تصویر</th>
                        <th>تاریخ</th>
                        <th>وضعیت</th>
                        <th>متن</th>
                        <th>حذف</th>
                        {% endif %}
                    </tr>
                    {% for favorite in favorite_list %} {% for favorite_blogs in favorite.blog.get_published_post %}
                    <tr>
                        <td><a href="{% url 'blog:detail' favorite_blogs.slug %}">{{ favorite_blogs.title }}</a>
                        </td>
                        <td><img src="{{ favorite_blogs.image.url }}" width="100px" height="60px" style="border-radius: 5px" alt="{{ favorite_blogs.title }}"></td>
                        <td>{{ favorite_blogs.publish | naturaltime }}</td>
                        <td><span class="{% if favorite_blogs.status != p %}badge badge-success{% else %}badge badge-danger{% endif %}">{% if favorite_blogs.status != p %}
                                    منتشر
                                    شده{% else %}پیش نویس{% endif %}</span></td>
                        <td>{{ favorite_blogs.description | safe | striptags | truncatechars:30 }}</td>
                        <td><a href="{% url 'favorite-blog:remove' favorite_blogs.id %}">حذف</a></td>
                    </tr>
                    {% endfor %} {% empty %}
                    <h2 class="text-center">لیست مقاله علاقه مندی شما خالی است</h2>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
{% endblock %}